[user]
	email = tjdane@gmail.com
	name = Tom Dane
[alias]
	a = add .
	aa = add --all
	b = branch
	bd = branch -D
	c = commit
	cm = commit -m
	cam = commit --amend -m 
	cane = commit --amend --no-edit
	ch = checkout
	chb = checkout -b
	d = diff
	dm = diff master
	dmn = diff master --name-only	
	po = pull origin
	pom =  pull origin master
	prom = pull --rebase origin master
	f = fetch
	l = log --oneline -20
	m = merge
	mm = merge master
	mr = rebase master
	s = status
	st = stash
	stp = stash pop
	up = push origin
	upfh = push origin HEAD --force-with-lease
	uph = push origin HEAD
	upm = push origin master
[rerere]
	enabled = 1
